<footer>
    <div class="foot-panel1">
        Back to Top
    </div>
    <div class="foot-panel2">
        <ul>
            <p>Get to Know Us</p>
            <a>About Amazon</a>
            <a>Careers</a>
            <a>Press Releases</a>
            <a>Amazon Science</a>
        </ul>
        <ul>
            <p>Connect with us</p>
            <a>Facebook</a>
            <a>Twitter</a>
            <a>Instagram</a>
        </ul>
        <ul>
            <p>Make money with us</p>
            <a>Sell on Amazon</a>
            <a>Sell under Amazon Accelarator</a>
            <a>Protect & Build your brand</a>
            <a>Supply to Amazon</a>
            <a>Become an Affiliate</a>
            <a>Fulfilment by Amazon</a>
            <a>Advertise Your Products</a>
            <a>Amazon Pay on Merchants</a>
        </ul>
        <ul>
            <p>Let us Help You</p>
            <a>Your Account</a>
            <a>Returns Center</a>
            <a>Recalls & Products Safety Alerts</a>
            <a>100% Purchase Protection</a>
            <a>Amazon App Download</a>
            <a>Help</a>
        </ul>
    </div>
    <div class="foot-panel3">
        <div class="logo2"></div>
    </div>
    <div class="foot-panel4">
        <div class="pages">
            <a>Conditions of Use & Sale</a>
            <a>Privacy Notice</a>
            <a>Internet-Based Ads</a>
        </div>
        <div class="copyright">
            © 1996-2024, Amazon.com, Inc. or its affiliates
        </div>
    </div>
</footer>